<!DOCTYPE html>
{% extends "layout.html" %}
{% block main %}
<div class="about col-8 mx-auto">
  <h1 class="mb-4">Wishlist</h1>
  <table class="table table-hover">
    <thead class = "thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">Item Name</th>
        <!-- <th scope="col">Cheapest Price</th> -->
        <th scope="col">Store</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      {% if quantity > 0 %}
        {% for item in items %}
        <form class="" action="/wishlist" method="post">
        <tr>
          <th scope="row"></th>
          <td>{{ item.name }}</td>
          <td><a href="{{ item.link }}">{{ item.store }}</a></td>
          <td><button type="submit" class="btn btn-outline-danger" name="delete" value="{{ item.name }}">Delete</input></td>
        </tr>
        </form>
        {% endfor %}
      {% endif %}
    </tbody>
  </table>
</div>
{% endblock %}
